@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The web site is ready, the Employee Data Management API Document is <a href="/swagger">here</a>.</p>
</div>
